.chatPageWrapper {
  grid-area: c;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 18fr;
  overflow: auto;
  border-left: 2px solid rgba(0, 0, 0, 0.159);
}
.header {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.159);
  background: rgba(0, 0, 0, 0.097);
  font-size: 1.5rem;
  font-weight: 400;
}
.headerName {
  letter-spacing: 1.2px;
  padding: 20px 30px;
}
.wrapper {
  margin-left: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 3px 0px;
}
.Mywrapper {
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  justify-content: center;
  align-self: center;
  align-items: flex-end;
}

.userMessage {
  color: white;
  background: #34495e;
  width: fit-content;
  border: transparent;
  border-radius: 25px;
  padding: 10px 16px;
  font-size: 1.15rem;
}
.MyMessage {
  color: black;
  background: rgba(107, 107, 107, 0.323);
  width: fit-content;
  border: transparent;
  border-radius: 25px;
  padding: 10px 16px;
  font-size: 1.15rem;
}
.date {
  color: rgba(33, 33, 33, 0.713);
  font-size: 0.8rem;
}
textarea {
  resize: none;
  margin: 5px;
  width: 80%;
  outline: 0;
  border: transparent;
  margin-top: 1%;
  padding: 3px;
  font-size: 1.1rem;
}
button {
  position: relative;
  bottom: 12px;
  outline: 0;
  border: transparent;
  background: white;
}
.formDesign img {
  background: white;
}
.formDesign {
  min-width: 350px;
  width: 80%;
  margin: 0px 15px;
  background: white;
  border: transparent;
  outline: none;
  border-radius: 15px;
  padding: 3px;
}
.formWrapper {
  width: 100%;
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.097);
}
