.appWrapper {
  width: 100vw;
  height: 100vh;
  background: white;
  display: grid;
  grid-template-areas:
    "d c"
    "d c";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 4fr;
  background: linear-gradient(to right, #c2c1bb, #f2f2f2, #dbdbdb, #eaeaea);
}
